* {
    font-family: serif ,monospace, "Lucida Console";
    background-color: hsl(0, 0%, 85%);
}

.headline {
    background-color: hsl(0, 0%, 23%);
    color: hsl(0, 0%, 85%);
    text-align: center;
    font-size: 100px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.head-image {
    width: 600px;
    height: auto;
    display: block;
    margin: auto;
}

ul.unordered {
    list-style: none;
    text-align: center;
    width: 30%;
    margin: auto;
    margin-top: 15px;
}

ul li {
    background-color: hsl(0, 0%, 23%);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;

    
}

a {
    background-color: transparent;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(208, 208, 208);
}
a:hover {
    color: rgb(134, 127, 255);
    font-size: 25px;
}



/* #pasta,
#bean,
#cupcake {
    background-color: rgb(255, 169, 9);
    border-radius: 5px;
    padding-bottom: 10px;
} */